<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ 'title' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="nav-link--active">{{ 'navBar.home' | translate }}</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/about" routerLinkActive="nav-link--active">{{ 'navBar.about' | translate
            }}</a>
        </li>
        <div ngbDropdown class="d-inline-block">
          <li class="nav-link btn-group dropdown" id="dropdownMenu1" ngbDropdownToggle>Language</li>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" (click)="switchLanguage('es')">{{ 'navBar.languages.spanish' | translate }}</a>
            <a class="dropdown-item" (click)="switchLanguage('en')">{{ 'navBar.languages.english' | translate }}</a>
          </div>
        </div>
      </ul>
      
      <!-- Add the user photo and logout dropdown here -->
      <div class="d-flex align-items-center" *ngIf="this.isLoggedIn">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link btn-group dropdown" id="dropdownMenu2" ngbDropdownToggle>
            <img [src]="userProfile?.images?.[0]?.url" alt="User Photo" class="user-photo mr-2" width="32" height="32">
            {{ userProfile?.display_name }}
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" (click)="logout()">{{ 'navBar.logout' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
