<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ 'title' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="nav-link--active">{{ 'navBar.home' | translate }}</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/about" routerLinkActive="nav-link--active">{{ 'navBar.about' | translate
            }}</a>
        </li>
        <li class="btn-group dropdown" dropdown>
          <a class="nav-link dropdown-toggle" href id="basic-link" dropdownToggle (click)="false"
            aria-controls="basic-link-dropdown">
            {{ 'navBar.setLanguage' | translate }}
          </a>
          <div id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
            <a class="dropdown-item" (click)="switchLanguage('es')">{{ 'navBar.languages.spanish' | translate }}</a>
            <a class="dropdown-item" (click)="switchLanguage('en')">{{ 'navBar.languages.english' | translate }}</a>
          </div>
        </li>
      </ul>
      <li *ngIf="isLoggedIn" class="d-flex nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-dark" id="dropdownMenu2" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu2">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Action - 2</button>
          </div>
        </div>
        <a class="nav-link" (click)="logout()">{{ 'navBar.logout' | translate }}</a>
      </li>
    </div>
  </div>
</nav>