<div class="album-card"  [@cardFlip]="state" (click)="cardClicked()">
    <div class="face back" *ngIf="state === 'default'">
        <div class="album-art-container position-relative">
            <span class="position-absolute top-0 end-0 badge bg-dark bg-opacity-75 m-1" style="z-index: 10; font-size: 0.7rem;">
                {{this.albumData?.songs?.length}}
                <i class="bi bi-music-note-list ms-1"></i>
            </span>
            <img class="album-image" (click)="clickDisplayData()" [src]="albumData?.image" [alt]="albumData?.album"
                height="150" width="150">
            <ul class="album-colors">
                <li *ngFor="let color of albumData?.colors" [style.background-color]="'rgb(' + color.join(', ') + ')'">
                </li>
            </ul>
        </div>
        <div class="album-info">
            <h4 class="album-title text-center" placement="bottom" [ngbTooltip]="albumData?.album">{{ smallTitle }}</h4>
        </div>
        <ul class="dominant-bar" [style.background-color]="'rgb(' + albumData?.dominant?.join(', ') + ')'"></ul>
    </div>
    <div class="face front" *ngIf="state === 'flipped'">
        <h5>Songs:</h5>
        <ul class="album-songs">
            <li *ngFor="let song of albumData?.songs">{{ song.name }} - {{ song.artists }}</li>
        </ul>
    </div>
</div>