<div class="album-card"  [@cardFlip]="state" (click)="cardClicked()">
    <div class="face back" *ngIf="state === 'default'">
        <span class="position-absolute fs-5 top-0 start-100 translate-middle badge rounded-pill bg-success" style="z-index: 1000;">
            {{this.albumData?.songs?.length}}
            <span class="visually-hidden">Items</span>
          </span>
        <div class="album-art-container">
            <img class="album-image" (click)="clickDisplayData()" [src]="albumData?.image" [alt]="albumData?.album"
                height="150" width="150">
            <ul class="album-colors">
                <li *ngFor="let color of albumData?.colors" [style.background-color]="'rgb(' + color.join(', ') + ')'">
                </li>
            </ul>
        </div>
        <div class="album-info">
            <h4 class="album-title text-center" placement="bottom" [ngbTooltip]="albumData?.album">{{ smallTitle }}</h4>
        </div>
        <ul class="dominant-bar" [style.background-color]="'rgb(' + albumData?.dominant?.join(', ') + ')'"></ul>
    </div>
    <div class="face front" *ngIf="state === 'flipped'">
        <h5>Songs:</h5>
        <ul class="album-songs">
            <li *ngFor="let song of albumData?.songs">{{ song.name }} - {{ song.artists }}</li>
        </ul>
    </div>
</div>